Nombre d'articles : <input type="number" [(ngModel)]="nbrArticles">
<br>
<br>
<div *ngFor="let item of listeArticles; let i = index">
<div *ngIf="nbrArticles > i ">
  <fieldset *ngIf="item.categorie != 'Travail'" [style.background-color]="getEducationBgColor(item)">
    <legend>{{item.titre}}</legend>
    Auteur : {{item.auteur}}
    <br>
    Date : {{item.date}}
    <br>
    Contenu : {{item.contenu}}
  </fieldset>
</div>


</div>


workshop 5 : service <button (click)="getDatawithService()">Service</button>
<h6> Article relative à la categorie sport  : {{nbrResService}}</h6>
